<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="css/car.css">
    <style>

    </style>
</head>

<body>
    <div >

        <% cars.forEach((car,element)=>{ %>
           <div
            onclick="clickedCar(`<%= JSON.stringify(car) %>`)">
           </div>  
               
            <div class="container">

           
            <div class="rancarImages">
                <img src="<%=car.img%>" alt="<%= car.name %>"
            
            </div>

                <div class="rancarDetails">
                    <%= car.location %>
                    <%= car.name %>
                    <%= car.fuel %>  <%= car.seater %>
                    <%= car.Rating %>

                </div>

                <div class="rancarPrice">
                    <%= car.price %>
                        <br>
                        <p>
                            <a href="cars/<%= car._id %>">Book Now</a>
                        </p>
                </div>

            </div>


                <% }) %>


            </div>

</body>

</html>
<script src="js/cars.js">

</script>